.footer {
  background-color: #0a2850;
  position: relative;
  z-index: 0;
  padding-top: 60px;
}

.footer__content {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 108px;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__circle {
  width: 340px;
  height: 340px;
  background-color: #2f80ed;
  border-radius: 50%;
  position: absolute;
  top: -128px;
  left: -44px;
  z-index: -1;
}

.footer__social {
  margin: 0;
}

.footer__social-heading {
  margin: 0 0 20px 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer__social-link {
  display: flex;
  justify-content: end;
  gap: 10px;
  text-decoration: none;
}

.footer__social-link:visited {
  color: #c1c1c1;
}

.footer__social-icon {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  margin: 0;
  height: 16px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin: 0 0 16px 0;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding-bottom: 60px;
  margin: 0 0 0 80px;
  max-width: fit-content;
}
