.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.form__label {
  margin-bottom: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_align {
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
}
.form__input {
  margin-bottom: 32px;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
  padding-left: 20px;
}

.form__button {
  max-width: 385px;
  margin-bottom: 32px;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  background-color: #2f80ed;
  color: #ffffff;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  appearance: none;
  height: 20px;
  width: 20px;
  margin-right: 12px;
  border-radius: 2px;
  border: 2px solid #000000;
  border-radius: 2px;
  background-color: #ffffff;
}

.form__checkbox:checked {
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
}
