.nav {
  display: flex;
  height: 39px;
}

.nav__logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 105px;
  height: 39px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  position: absolute;
  top: 30px;
  right: 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
}

.nav__link:hover {
  color: #2f80ed;
}
