.recipes {
  min-height: 720px;
  background-color: #0a2850;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.recipes__title {
  color: #ffffff;
  max-width: 580px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  position: absolute;
  top: 100px;
  left: 80px;
}

.recipes__subtitle {
  color: #ffffff;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  left: 80px;
  top: 176px;
  margin: 0;
}

.recipes__videos {
  display: flex;
  margin: 0 auto;
  gap: 40px;
  max-width: 960px;
  padding-top: 316px;
}

.recipes__video-item {
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.recipes__video-caption {
  margin-top: 0;
  margin-bottom: 150px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}
